$bold-color: #000000;
$body-color: #F4F5F6;
$title-size: 35px;
$subtitle-size: 18px;
$title-font: "HelveticaNeue-Bold";
$subtitle-font: "HelveticaNeue";

body {
    background-color: $body-color;
    margin: 60px 30px;
    display: flex;
    flex-direction: column;
};

.header {
    display: flex;
    color: $bold-color;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;

    .titles-container {
        display: flex;
        align-items: baseline;
    }
}


.title {
    font-size: $title-size;
    font-family: $title-font;
    line-height: 43px;
    margin-right: 6px;
}

.sub-title {
    font-size: $subtitle-size;
    font-family: $subtitle-font;
    line-height: 22px;
    font-weight: 400;
    margin-right: 30px;
}

.switch-view {
    font-family: $subtitle-font;

    input {
        margin-left: 0px;
    }
}

.body {
    display: flex;
    flex-flow: row wrap;
}

.grid-table-container {
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
    flex: 1 1 50%;
    margin-bottom: 30px;

    &:nth-child(odd) {
        .table-body {
            margin-right: 15px;
        }
    }
    &:nth-child(even) {
        .table-body {
            margin-left: 15px;
        }
    }
}

.row-table-container {
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 30px;
    
    .table-body {
        width: 100%;
    }
}

.host-title-container {
    font-size: 16px;
    font-family: $title-font;
    line-height: 19px;
}

li {
    display: flex;
    color: #4A4A4A;
    font-size: 16px;
    margin-top: 23px;
    font-family: $subtitle-font;

    p {
        margin: 0px;
    }

    .apdex {
        opacity: 0.62;
        font-size: 13px;
        font-family: $title-font;
        line-height: 19px;
        word-break: keep-all;
        margin-right: 16px;
        min-width: 24px;
    }
}

.table-body {
    padding: 30px;
    background-color: white;
}

h3 {
    margin: 0px;
}

ol {
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    padding-inline-start: 0px;
    list-style-type: none;
}